name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    permissions:
      contents: write

    strategy:
      fail-fast: true
      matrix:
        include:
          - arch-name: aarch64-apple-darwin
            os: macos-latest
            target: aarch64-apple-darwin

          - arch-name: aarch64-unknown-linux-gnu
            os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu

          - arch-name: aarch64-unknown-linux-musl
            os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-musl

          - arch-name: aarch64-pc-windows-msvc
            os: windows-latest
            target: aarch64-pc-windows-msvc
            file-ext: .exe

          - arch-name: x86_64-apple-darwin
            os: macos-latest
            target: x86_64-apple-darwin

          - arch-name: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu

          - arch-name: x86_64-unknown-linux-musl
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl

          - arch-name: x86_64-pc-windows-msvc
            os: windows-latest
            target: x86_64-pc-windows-msvc
            file-ext: .exe

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: Install dependencies for Windows
        if: startsWith(matrix.os, 'windows')
        run: |
          choco install nasm
          echo "C:\Program Files\NASM" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Install general dependencies for Ubuntu
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt update
          sudo apt install -y \
            musl-tools \
            cmake \
            clang \
            gcc-x86-64-linux-gnu \
            gcc-aarch64-linux-gnu

      - name: Build Release
        run: |
          cargo build --release --verbose --target ${{ matrix.target }}
          cargo build --release --verbose --all-features --target ${{ matrix.target }}
          cargo build --release --verbose --bin ombrac-client --features binary --target ${{ matrix.target }}
          cargo build --release --verbose --bin ombrac-server --features binary --target ${{ matrix.target }}

      - name: Test Release
        if: |
          matrix.target == 'x86_64-apple-darwin' ||
          matrix.target == 'x86_64-pc-windows-msvc' ||
          matrix.target == 'x86_64-unknown-linux-gnu'
        run: cargo test --release --verbose --target ${{ matrix.target }}

      - name: Move Binaries
        shell: bash
        run: |
          mkdir -p artifacts/
          binaries=("ombrac-client" "ombrac-server")
          for binary in "${binaries[@]}"; do
            mv target/${{ matrix.target }}/release/$binary${{ matrix.file-ext }} artifacts/
          done

      - name: Compressed
        shell: bash
        run: |
          cd artifacts
          tar -czvf ombrac-${{ matrix.arch-name }}.tar.gz ./*
          openssl dgst -sha256 -r ombrac-${{ matrix.arch-name }}.tar.gz > ombrac-${{ matrix.arch-name }}.tar.gz.sha256sum

      - name: Release
        uses: ncipollo/release-action@main
        with:
          artifacts: |
            artifacts/ombrac-${{ matrix.arch-name }}.tar.gz
            artifacts/ombrac-${{ matrix.arch-name }}.tar.gz.sha256sum
          allowUpdates: true
          artifactErrorsFailBuild: true
          omitName: true
          omitBody: true
          omitNameDuringUpdate: true
          omitBodyDuringUpdate: true
          omitDraftDuringUpdate: true

  build-docker-images:
    needs: release
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - target: ombrac-server
            arch: amd64
            os: ubuntu-latest
          - target: ombrac-server
            arch: arm64
            os: ubuntu-24.04-arm

          - target: ombrac-client
            arch: amd64
            os: ubuntu-latest
          - target: ombrac-client
            arch: arm64
            os: ubuntu-24.04-arm

    env:
      REGISTRY: ghcr.io

    steps:
      - name: Checkout repository
        uses: actions/checkout@main

      - name: Normalize Image Name
        run: |
          LOWER_NAME=$(echo "${{ github.repository }}/${{ matrix.target }}" | tr '[:upper:]' '[:lower:]')
          echo "IMAGE_NAME=$LOWER_NAME" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@master

      - name: Log in to the Container registry
        uses: docker/login-action@master
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker image
        id: meta
        uses: docker/metadata-action@master
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@master
        with:
          context: .
          file: ./Dockerfile
          target: ${{ matrix.target }}
          platforms: linux/${{ matrix.arch }}
          outputs: type=image,name=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }},push-by-digest=true,name-canonical=true,push=true
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@main
        with:
          name: digests-${{ matrix.target }}-${{ matrix.arch }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  push-docker-images:
    needs: build-docker-images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    
    strategy:
      fail-fast: false
      matrix:
        target: [ombrac-server, ombrac-client]

    env:
      REGISTRY: ghcr.io

    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@master
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Normalize Image Name
        run: |
          LOWER_NAME=$(echo "${{ github.repository }}/${{ matrix.target }}" | tr '[:upper:]' '[:lower:]')
          echo "IMAGE_NAME=$LOWER_NAME" >> $GITHUB_ENV

      - name: Extract metadata (tags, labels) for Docker image
        id: meta
        uses: docker/metadata-action@master
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=latest,enable=${{ github.ref == format('refs/tags/{0}', github.event.repository.default_branch) || startsWith(github.ref, 'refs/heads/release') }}

      - name: Download digests
        uses: actions/download-artifact@main
        with:
          pattern: digests-${{ matrix.target }}-*
          merge-multiple: true
          path: /tmp/digests

      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.version }}

  publish:
    needs: [release, push-docker-images]

    runs-on: ubuntu-latest

    env:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Publish ombrac-macros
        working-directory: crates/ombrac-macros
        run: cargo publish

      - name: Publish ombrac-netstack
        working-directory: crates/ombrac-netstack
        run: cargo publish

      - name: Publish ombrac-transport
        working-directory: crates/ombrac-transport
        run: cargo publish

      - name: Publish ombrac
        working-directory: crates/ombrac
        run: cargo publish

      - name: Publish ombrac-server
        working-directory: crates/ombrac-server
        run: cargo publish

      - name: Publish ombrac-client
        working-directory: crates/ombrac-client
        run: cargo publish
